{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pan Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

   <link rel="stylesheet" type="text/css" href="{% static "mix/bootstrap/css/bootstrap.css" %}" >          <link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}">     <link rel="stylesheet" href="{% static "mix/font-awesome/css/font-awesome.css" %}">      <script src="{%static "mix/jquery-1.7.2.min.js" %}" type="text/javascript"></script>       <style type="tex/css">       body{            background-image: url("{% static "img/black-Linen.png" %}");            }       </style>
    <!-- Demo page code -->

    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .brand { font-family: georgia, serif; }
        .brand .first {
            color: #ccc;
            font-style: italic;
        }
        .brand .second {
            color: #fff;
            font-weight: bold;
        }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->

  </head>

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body class=""> 
  <!--<![endif]-->
    
    <div class="navbar">
        <div class="navbar-inner">
                <ul class="nav pull-right">
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> {{ request.session.adminsname }}
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">我的账户</a></li>
                            <li class="divider"></li>
                          
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="/admins/sign-in">切换账号</a></li>
                        </ul>
                    </li>
                    
                </ul>
                <a class="brand" href="/admins/index"><span class="second">网盘后台管理页面</span></a>
        </div>
    </div>
    


    
   <div class="sidebar-nav">
        <form class="search form-inline">
            <input type="text" placeholder="搜索文件...">
        </form>
				<a href="/admins/index" class="nav-header" ><i class="icon-dashboard"></i>网盘信息</a>
        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-user"></i>用户管理</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">            
            <li ><a href="/admins/users">用户信息</a></li>
            <li ><a href="/admins/user/0">用户编辑</a></li>
            <li ><a href="/admins/check">用户审核</a></li>  <li ><a href="/admins/space-check">空间扩展审核</a></li>
        </ul>
        
        <a href="#file-menu" class="nav-header" data-toggle="collapse"><i class="icon-folder-open"></i>文件管理</a>
        <ul id="file-menu" class="nav nav-list collapse in">
            <li ><a href="/admins/files">文件信息</a></li>
            <li ><a href="/admins/file/0">文件编辑</a></li>
            <li ><a href="/admins/change_type">类型编辑</a></li>
        </ul>
        
        <a href="#data-menu" class="nav-header" data-toggle="collapse"><i class="icon-cloud"></i>数据管理</a>
        <ul id="data-menu" class="nav nav-list collapse in">
           <li ><a href="/admins/backup">数据备份并加密</a></li>
                     
        </ul>

        <a href="#accounts-menu" class="nav-header" data-toggle="collapse"><i class="icon-briefcase"></i>我的账户</a>
        <ul id="accounts-menu" class="nav nav-list collapse">
            <li ><a href="/admins/sign-in">登录</a></li>
            <li ><a href="/admins/sign-up">注册</a></li>
            <li ><a href="/admins/reset-password">重置密码</a></li>
        </ul>

    </div>
    

    
    <div class="content">
        
        <div class="header">
            
            <h1 class="page-title">文件编辑</h1>
        </div>
        
        <ul class="breadcrumb">
            <li><a href="/admins/index">主页</a> <span class="divider">/</span></li>
            <li><a href="/admins/files">文件信息</a> <span class="divider">/</span></li>
            <li class="active">文件编辑</li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                    

							<div class="well">
							 
							   
							    <form action="/admins/api-upd-file-admin/" method="post">
                                    {% csrf_token %}
							        <label>文件名</label>
                                    <input type="hidden" name="file_id" value="{{ up_file.id }}">
							        <input type="text" name="file_name"
                                           {% if up_file %}
                                           value="{{ up_file.display_name }}"
                                           {% else %}
                                           placeholder="文件名"
                                           {% endif %}
                                           class="input-xlarge">
							        <label>文件类型</label>
							         <input type="text" id="type_name" disabled="disabled"
                                            {% if up_file %}
                                           value="{{ up_file.file_type.display_name }}"
                                           {% else %}
                                           placeholder="type"
                                           {% endif %}
                                            class="input-xlarge">
							        <label>扩展名</label>
							        <select class="form-control input-xlarge" name="ext_name">
                                        {% for type in file_type %}
                                            {% if type.ext_name == up_file.file_type.ext_name %}
                                            <option selected>{{ type.ext_name }}</option>
                                            {% else %}
                                            <option>{{ type.ext_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
							        <label>状态</label>
							        <select class="form-control input-xlarge">
														<option>已分享</option>
														<option>禁止分享</option>
											</select>
                                    <div class="btn-toolbar" style="margin-left:25%">
							    <input type="submit" class="btn btn-primary" value="&nbsp;保存"><i class="icon-save"></i></input>
							    <!--<a href="#myModal" data-toggle="modal" class="btn"><i class="icon-trash"></i>&nbsp;删除</a>-->
							</div>
							    </form>
							   
							      
							  </div>
						
						</div>

							<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							    <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							        <h3 id="myModalLabel">确认删除？</h3>
							    </div>
							    <div class="modal-body">
							        <p class="error-text"><i class="icon-warning-sign modal-icon"></i>你确认删除该用户吗?</p>
							    </div>
							    <div class="modal-footer">
							        <button class="btn" data-dismiss="modal" aria-hidden="true">继续</button>
							        <button class="btn btn-danger" data-dismiss="modal">删除</button>
							    </div>
							</div>    
            </div>
        </div>
    </div>
    


    <script src="{% static "mix/bootstrap/js/bootstrap.js" %}"></script>
    <!--<script type="text/javascript">-->
        <!--$("[rel=tooltip]").tooltip();-->
        <!--$(function() {-->
            <!--$('.demo-cancel-click').click(function(){return false;});-->
        <!--});-->
       <!---->
				<!--function f(str) {-->
					<!--var musicValue=new Array(".mp3",".wav",".wmv");-->
       		<!--var imageValue=new Array(".jpg",".jpeg",".png",".bmp",".gif");-->
       		<!--var filmValue=new Array(".avi",".mp4",".flv",".swf");-->
       		<!--var fileValue=new Array(".doc",".docx",".xls",".xlsx","ppt","pptx",".txt");-->
	        <!--var type_value = new Array()-->
					<!--switch(str) {-->
					     <!--case "音乐":-->
					        <!--type_value=musicValue-->
					        <!--break;-->
					     <!--case "图片":-->
					        <!--type_value=imageValue-->
					        <!--break;-->
					     <!--case "视频":-->
					        <!--type_value=filmValue-->
					        <!--break;-->
					     <!--case "文档":-->
					        <!--type_value=fileValue-->
					        <!--break;-->
					<!--} -->
	        <!---->
	        <!--var selections=document.getElementById("type_selection");-->
	        <!--for (var i=0;i<type_value.length;i++){-->
        		<!--var optionObj=document.createElement("option");-->
		        <!--optionObj.innerHTML=type_value[i];-->
		        <!--optionObj.value=type_value[i];-->
		        <!--selections.appendChild(optionObj);-->
	        <!--}-->
	        <!---->
        <!--}-->
	      <!--var str=document.getElementById("type_name");-->
    		<!--f(str.value);-->
				<!---->
				<!---->
        <!---->
    <!--</script>-->
    
  </body>
</html>


